<?xml version="1.0"?>
<launch>

<!-- blue side robot -->
  <group ns="blue_bot">

  <!-- Launch Navigation -->
    <include file="$(find burger_navigation)/launch/your_burger_navigation_sample.launch">
        <arg name="robot_name" value="blue_bot" />
    </include>
      <!-- enemy bot run -->
      <node pkg="burger_war" type="naviRun.py" name="enemyRun" output="screen">
      <param name="robot_name" value="blue_bot" />
      </node>
  </group>

<!-- red side robot -->
  <group ns="red_bot">
      <!-- Your robot control node run -->
      <include file="$(find burger_war)/launch/your_burger.launch">
        <arg name="robot_name" value="red_bot" />
      </include>
  </group>

</launch>

