<?xml version="1.3"?>
<launch>
  <arg name="robot_name" default=""/> <!-- robot_name for use NAMESPACE -->
  <arg name="side" default="b"/> <!-- "b" = blue side, "r" = red side  -->  <!-- You can change control program  -->

    <!-- sample program node -->

    <node pkg="burger_war" type="naviRun.py" name="randomRun" output="screen">
        <param name="robot_name" value="$(arg robot_name)"/>
        <param name="robot_side" value="$(arg side)" />
    </node>

    <!-- END sample program node -->



    <!-- END my program node -->

    <!-- End of your space  -->
</launch>
